.column {
    float:left; 
    width:250px;
    height:500px; 
    text-align: left;
    font-size: 15px;
    }
    .card1 {
    background-color:hsl(31, 77%, 52%);
    height:400px;
    padding:20px 20px;
    }
    .card2 { 
    background-color:hsl(184, 100%, 22%);
    height:400px;
    padding:20px 20px;
    }
    .card3 {
    background-color: hsl(179, 100%, 13%);
    height:400px;
    padding:20px 20px
    }
    p { 
    color: hsla(0, 0%, 100%, 0.75)

    }
    h1 {
    color: hsl(0, 0%, 95%)
    }

.button {
    background-color:transparent;
    border: 10px 10px 10px 10px;
    border-color:hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    margin-top:50px;
    }